<div class="modal fade" id="new_topic-Modal" role="dialog">
				<div class="subject-modal wow slideInDown">
					<div class="modal-content">
						<div class="subject-modal-container">
							<button type="button" class="close modal-close-btn" data-dismiss="modal">&times;</button>
							<div class="subject-modal-indicator">
								<span> <i class="fa fa-file"></i> Topic new</span>
							</div>
							<div class="subject-modal-content">
								<div class="subject-modal-heading">Create New Topic</div>
								<form>
									<div class="modal-subject-input">
										<div class="modal-dropdown-container">
											<select class="form-control">
												<option selected disabled>Select Subject</option>
												<option>All</option>
												<option>DBMS</option>
											</select> 
											<i class="fa fa-angle-down modal-dropdown-icon"></i>
										</div>	
										<div class="text-input">
											<input type="text" id="input1" class="form-control">
											<label for="input1">Topic Name</label>
										</div>
									</div>
									<div class="subject-modal-button">
										<button type="submit" class="btn save-btn">Save</button>
										<button type="submit" class="btn cancel-btn">Cancel</button>
									</div>	
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>