
<body class="wow fadeIn">
	<!-- header start -->	
	
	
	<!-- outer container -->
	<div class="page-content">
		<div class="container">
			<!-- heading section start -->
			<div class="site-heading">
				<h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Contact Us</h1>
				<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero.</p>
			</div>	
			<!-- heading section end -->
			
			<!-- form section start -->
			<div class="form-section">
				<h2 class="form-heading">Get in touch with us</h2>
				<div class="contact-form">
					<div class="row">
						<div class="col-sm-6">
							<div class="col-left wow bounceInLeft">
								<form method="post">
									 <div class="form-group input-box">
										 <label class="inp-label"><i class="fa fa-user icon"></i></label>
										 <input type="text" class="inp-field" name="uname" placeholder="Your Name..">
									 </div>
									 <div class="form-group input-box">
										 <label class="inp-label"><i class="fa fa-envelope icon"></i></label>
										 <input type="email" class="inp-field" name="email" placeholder="Your Email..">
									 </div>
									 <div class="form-group input-box text">
										 <label class="inp-label"><i class="fa fa-comment icon"></i></label>
										 <textarea class="inp-field" name="message" placeholder="Your Message.."></textarea>
									 </div>
									 <div class="form-btn">
										<button type="submit" class="btn send-btn">Send<i class="fa fa-send btn-icon"></i></button>
									 </div>	
								</form>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-right wow bounceInRight">
								<div class="col-heading">
									<img class="img-responsive heading-logo wow pulse" data-wow-iteration="2"
									src="assets/contact-info-1.png" alt="terms" width="64" height="64">
									Contact Information
								</div>
								<div class="col-content">
									<ul class="contact-info">
										<li>
											<i class="fa fa-phone info-icon"></i>
											<a class="info-text" href="tel:+61298380242">+61 2 9838 0242</a>
										</li>
										<li>
											<i class="fa fa-envelope info-icon"></i>
											<a class="info-text" href="mailto:mail@example.com">mail@example.com</a>
										</li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
				</div>
			</div>	
			<!-- form section end -->	
		</div>
	</div>	
	
    
    <script src="js/index.js"></script>	
    <script src="js/wow.js"></script>
    <script>
        new WOW().init();
    </script>	
</body>

