
<body class="wow fadeIn">
	
	
	<!--Banner section start -->
	<div class="banner-section">
		<div class="container">	
			<div class="banner-heading">
				<h1 class="heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.4s">Knowledge is Power. Test it.</h1>
				<p class="sub-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur, sed do eiusmod.</p>
				<button class="btn btn-lg start-button wow fadeIn">Get Started</button>
			</div>
			<div class="banner">
				<img src="assets/banner.png" alt="banner" class="img-responsive wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s" width="2252" height="700">
			</div>
			<!--Banner section end-->
		</div>	
	</div>	
	<!--benefit section start -->			
	<div class="site-feature wow fadeInDown">
		<div class="container">
			<div class="site-feature-heading">
				<h2 class="heading">Benefits of learning with Quiztech</h2>
				<p class="sub-heading">Lorem ipsum dolor sit amet, consectetur, sed do eiusmod.</p>
			</div>
			<div class="row">				
				<div class="col-sm-5 col-left">
					<img src="assets/feature.png" alt="feature" class="img-responsive" width="11181" height="595">
				</div>
				<div class="col-sm-7 col-right">
					<div id="siteCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators col-indicator">
							<li data-target="#siteCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#siteCarousel" data-slide-to="1"></li>
							<li data-target="#siteCarousel" data-slide-to="2"></li>
							<li data-target="#siteCarousel" data-slide-to="3"></li>
					   </ol>
					   <div class="carousel-inner">
							<div class="item active">
								<div class="col">
									<i class="fa fa-graduation-cap site-icon"></i>
									<h3 class="heading">Solution for education</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
									feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem,feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem vitae elementum lacus massa sit amet metus...
									</p>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<i class="fa fa-book site-icon"></i>
									<h3 class="heading">Solution for training institutes</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
									feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem,feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem vitae elementum lacus massa sit amet metus...
									</p>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<i class="fa fa-suitcase site-icon"></i>
									<h3 class="heading">Solution for corporates</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
									feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem,feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem vitae elementum lacus massa sit amet metus...
									</p>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<i class="fa fa-laptop site-icon"></i>
									<h3 class="heading">On-screen evaluation system</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
									feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem,feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem feugiat in congue eu, mattis quis augue.Vestibulum aliquet,est eu fermentum scelerisque, massa eros volutpat
									lorem vitae elementum lacus massa sit amet metus...
									</p>
								</div>
							</div>
					   </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!--benefit section end -->	
	
	
	<div class="grid-section">
		<div class="container">
			<div class="grid-section-heading">
				<h4 class="heading">Our bleeding edge features</h4>
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<div class="grid-col wow bounceInLeft">
						<div class="col-img">
							<img src="assets/g1.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Systematic analaysis</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 wow bounceInDown">
					<div class="grid-col">
						<div class="col-img">
							<img src="assets/g2.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Better evaluation</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 wow bounceInRight">
					<div class="grid-col">
						<div class="col-img">
							<img src="img/g3.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Omnipresent</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 wow bounceInLeft">
					<div class="grid-col">
						<div class="col-img">
							<img src="assets/g4.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Question management</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 wow bounceInUp">
					<div class="grid-col">
						<div class="col-img">
							<img src="assets/g5.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Different marking rules</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							 </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 wow bounceInRight">
					<div class="grid-col">
						<div class="col-img">
							<img src="assets/g6.png" class="img-responsive" width="100" height="100">
						</div>
						<div class="col-content">
							<div class="col-heading">Fraud suspectation</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established
							 fact that a reader will be distracted by the readable content of a page when looking at its layout. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- feature section end -->
	
	<!-- footer start -->    
	
    <!-- footer end -->  
    
    <script src="js/index.js"></script>	
    <script src="js/wow.js"></script>
    <script>
        new WOW().init();
    </script>	
</body>

