<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery-1.12.4.js"></script>
    <script src="assets/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/animate.css">
    <link rel="stylesheet" href="assets/jquery-ui.css">
    <link rel="stylesheet" href="assets/register-style.css">
  </head>
<body class="wow fadeIn">
  <!-- header start --> 
  <header class="navbar site-header navbar-fixed-top wow fadeIn" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-logo resized-link" id="logo">QuizTech</a>
      </div>
      <div class="collapse navbar-collapse" id="siteNavbar">
        <ul class="navbar-nav navbar-right navlink">
          <li>
            <!-- <a class="resized-link" href="javascript:void(0)" title="Home">Home</a>
             -->
             <%= link_to 'Home' , root_path , :class => "login-link resizsed-link"%>
          </li>
          <li>
           <%= link_to 'login' ,  sessions_new_path  , :class => "login-link resizsed-link"%>          </li>
          <li>
            <%= link_to 'Contact' , contact_path , :class => "login-link resizsed-link"%>
          </li> 
        </ul>
      </div>
    </div>
  </header>
  <!-- header end --> 
  
  <!-- outer container -->
  <div class="page-content">
    <div class="container">
      <!-- heading section start -->  
      <div class="site-heading">
        <h1 class="wow fadeInDown">New User?</h1>
      </div>
      <!-- heading section end -->  
      
      <!-- form section start --> 
      <div class="form-section wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
        <h2 class="form-heading wow pulse" data-wow-delay="1.8s">Register Now</h2>
        <div class="register-form">
          <div class="row">
            <div class="col-sm-6"> 
              <div class="col-left">
                <form method="post" action="/create_registration">
                  <div class="form-group">
                    <label class="inp-label">Email<span class="required"> * </span></label>
                    <input type="email" class="form-control inp-field" name="user[email]" placeholder="Enter Email.." required="required">
                  </div>
                  <div class="form-group">
                    <label class="inp-label">First_name<span class="required"> * </span></label>
                    <input type="text" name="user[firstname]" class="form-control inp-field" placeholder="Enter First Name.." required="required">
                  </div>
                  <div class="form-group">
                    <label class="inp-label">Last Name<span class="required"> * </span></label>
                    <input type="text" name="user[lastname]" class="form-control inp-field"  placeholder="Enter Last Name.." required="required">
                  </div>  
                  <div class="form-group">
                    <label class="inp-label">Date of Birth <span class="required"> * </span></label>
                    <input type="text" name="user[DOB]" id="datepicker" class="form-control date inp-field"  placeholder="MM/DD/YYYY" required="required">
                  </div>  
                  <div class="form-group">
                    <label class="inp-label">Gender <span class="required"> * </span></label>
                    <label class="radio-inline"><input type="radio" name="user[gender]" checked>Male</label>
                    <label class="radio-inline"><input type="radio" name="user[gender]">Female</label>
                  </div>
                  <div class="form-group">
                    <label class="inp-label">Contact Number <span class="required"> * </span></label>
                    <input type="text" name="user[phone_number]" class="form-control inp-field" placeholder="Enter Number.." required="required">
                  </div>
                  <div class="form-group">
                    <label class="inp-label">Password<span class="required"> * </span></label>
                    <input type="password" name="user[password]" class="form-control inp-field"  placeholder="Enter Password.." required="required">
                  </div>
                  <div class="form-group">
                    <label class="inp-label">Confirm Password<span class="required"> * </span></label>
                    <input type="password" name="user[rpassword]" class="form-control inp-field"  placeholder="Retype Password.." required="required">
                    
                  </div>
                  <div class="form-btn">
                    <button type="submit" class="btn submit-btn">Submit</button>
                    <button type="reset" class="btn reset-btn">Reset</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-right">
                <div class="col-heading">
                  <h3>Get Ready!</h3>
                  <p>Lorem ipsum dolor consectetur, sed do eiusmod sed do eiusmod vitae elementum lacus
                   massa sit amet metus...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form section end --> 
    </div>
  </div>  
  <!-- footer start -->    
  <footer class="site-footer">
    <div class="container">
      <div class="footer-container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-heading">Quiztech</div>
          <div class="footer-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim ligula.Morbi erat libero,
            feugiat in congue eu, mattis quis augue.</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="f-heading">Support</div>
          <ul class="f-content">
            <li>
              <i class="fa fa-phone s-icon"></i>
              <a class="footer-text" href="tel:+61298380242">+61 2 9838 0242</a>
            </li>
            <li>
              <i class="fa fa-envelope s-icon"></i>
              <a class="footer-text" href="mailto:mail@example.com">mail@example.com</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <div class="f-heading">Other Links</div>
          <ul class="f-content">
            <li><a class="footer-text" href="javascript:void(0)" title="Contact us">Contact Us</a></li>
            <li><a class="footer-text" href="javascript:void(0)" title="Terms of Use">Terms of Use</a></li>
            <li><a class="footer-text" href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <div class="f-heading">Social Links</div>
          <ul class="f-content list-inline">
            <li><span><i class="fa fa-facebook-square f-icon"></i></span></li>
            <li><span><i class="fa fa-twitter-square f-icon"></i></span></li>
            <li><span><i class="fa  fa-linkedin-square f-icon"></i></span></li>
            <li><span><i class="fa   fa-pinterest-square f-icon"></i></span></li>
          </ul>
        </div>
      </div>
      </div>
      <div class="copy-section">
        <p>Copyright &copy; 2019 Resume Builder. All Rights Reserved.</p>
      </div>
    </div>
    </footer>
    <!-- footer end -->  
    
    <script src="js/index.js"></script> 
    <script src="js/wow.js"></script>
     <script>
          $( function() {
            $( "#datepicker" ).datepicker();
          } );
    </script>
    <script>
        new WOW().init();
    </script> 
</body>
</html>
