<div class="subject-modal-content">
								<div class="subject-modal-heading">Create New Subject</div>
								<form method="post" action="/create_subject">
									<div class="modal-subject-input">
										<div class="text-input">
											<input type="text" id="input1" name="subject[name]" class="form-control">
											<label for="input1">Subject Name</label>
										</div>
									</div>
									<div class="subject-modal-button">
										<button type="submit" class="btn save-btn">Save</button>
										
									</div>	
								</form>
</div>
