<!-- <div class="modal fade" id="update_subject-Modal" role="dialog"> -->
				<!-- <div class="subject-modal wow slideInDown">
					<div class="modal-content"> -->
						<div class="subject-modal-container">
							<button type="button" class="close modal-close-btn" data-dismiss="modal">&times;</button>
							<div class="subject-modal-indicator">
								<span> <i class="fa fa-pencil"></i> Subject Edit</span>
							</div>
							<div class="subject-modal-content">
								<div class="subject-modal-heading">Update Subject</div>
								<form method="put" action="/subjects_update">
									<div class="modal-subject-input">
										<div class="text-input">
											<input type="text" id="subject[name]" class="form-control">
											<label for="input1">Subject Name</label>
										</div>
									</div>
									<div class="subject-modal-button">
										<button type="submit" class="btn save-btn">Save</button>
										<button type="submit" class="btn cancel-btn">Cancel</button>
									</div>	
								</form>
							</div>
						</div>
					<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->